/* begin general styling */
:root {
  --primary: #000000;
  --secondary: #f4f815;
  --tertiary: #f9fcb9;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

section {
  padding: 20px 50px;
}

body {
  background-color: var(--primary);
}
/* end general styling */

/* begin header styling */
header {
  background-image: url(../images/background-cropped.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 9999;
}

header h1 {
  color: var(--secondary);
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 2vw;
  padding: 10px 20px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--secondary);
  list-style: none;
}

header nav ul li a {
  padding: 10px 20px;
  font-size: 1.5vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: lighter;
}

header a {
  text-decoration: none;
  color: var(--secondary);
}
/* end header styling */

/* begin about me styling */
.about {
  background-image: url(../images/background-cropped.png);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.about div {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about h2 {
  color: var(--secondary);
  font-size: 2vw;
  font-weight: lighter;
  margin: 50px auto 0 auto;
  text-align: center;
  border-bottom: 1px solid var(--tertiary);
  flex-basis: 100%;
}

.about-image div {
  flex-basis: 40%;
  align-items: center;
}

.about-image img {
  max-width: 300px;
  max-height: 300px;
  margin: 10% 10%;
}

.about-image p {
  color: var(--tertiary);
  margin: 10% 10%;
  font-size: 1.5vw;
  text-align: left;
}
/* end about me styling */

/* begin work styling */
.work div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work h2 {
  color: var(--secondary);
  font-size: 2vw;
  font-weight: lighter;
  margin: 50px auto 50px auto;
  text-align: center;
  border-bottom: 1px solid var(--tertiary);
  flex-basis: 100%;
}

.feature {
  flex-basis: 100%;
  justify-content: center;
}

.feature_container {
  position: relative;
  margin: 0 0;
}

.feature_container .feature_bottom {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px 20px;
  display: none;
}

.feature_container:hover .feature_bottom {
  display: flex;
}

.main_div {
  margin: 50px auto 0 auto;
  flex-basis: 60%;
}

.container {
  position: relative;
  margin: 0 0;
}

.container img {
  max-width: 300px;
  max-height: 300px;
  margin: 5px;
}

.container .bottom {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px 20px;
  display: none;
}

.container:hover .bottom {
  display: flex;
}
/* end work styling */

/* begin contact styling */
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact h2 {
  color: var(--secondary);
  font-size: 2vw;
  font-weight: lighter;
  margin: 50px auto 0 auto;
  text-align: center;
  border-bottom: 1px solid var(--tertiary);
  flex-basis: 100%;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 100%;
  margin: 50px auto 50px auto;
}

.contacts div {
  margin: 0 20px;
}

.contacts div a {
  text-decoration: none;
  color: var(--tertiary);
  font-size: 1.5vw;
}
/* end contact styling */

/* begin footer styling */
footer {
  text-align: center;
  color: var(--tertiary);
  font-weight: lighter;
  font-size: 0.35vw;
  line-height: 1.5;
  margin: 50px auto;
}
/* end footer styling */

/* begin responsive styling */
/* media query for smaller desktop screens and smaller */
@media screen and (max-width: 1100px) {
  header h1 {
    font-size: 2.25vw;
  }

  header nav ul li a {
    font-size: 1.75vw;
  }

  .about h2 {
    font-size: 2.25vw;
    margin: 10px 0 0 0;
  }

  .about-image img {
    max-height: 250px;
  }

  .work h2 {
    font-size: 2.25vw;
    margin: 20px auto;
  }

  .feature_container img {
    max-height: 250px;
  }

  .main_div div {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .container img {
    max-height: 250px;
  }

  .contact h2 {
    font-size: 2.25vw;
  }

  .contacts div a {
    font-size: 1.75vw;
  }

  footer {
    font-size: 0.5vw;
    margin: 20px auto;
  }

  .about p {
    font-size: 1.75vw;
  }
}

/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2.5vw;
  }

  header nav ul li a {
    font-size: 2vw;
  }

  .about h2 {
    font-size: 2.5vw;
  }

  .about-image img {
    max-height: 200px;
  }

  .work h2 {
    font-size: 2.5vw;
  }

  .feature_container img {
    max-height: 200px;
  }

  .container img {
    max-height: 200px;
  }

  .contacts {
    margin: 25px auto;
  }

  .contact h2 {
    font-size: 2.5vw;
    margin: 0 auto;
  }

  .contacts div a {
    font-size: 2vw;
  }

  footer {
    font-size: 0.75vw;
  }

  .about p {
    font-size: 2vw;
  }
}

/* media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
  header h1 {
    font-size: 2.75vw;
  }

  header nav ul li a {
    font-size: 2.25vw;
  }

  .about h2 {
    font-size: 2.75vw;
  }

  .about p {
    font-size: 2.25vw;
  }

  .about-image div {
    flex-basis: 100%;
  }

  .about-image img {
    max-height: 150px;
  }

  .work h2 {
    font-size: 2.75vw;
  }

  .feature_container img {
    max-height: 150px;
  }

  .main_div div {
    margin-bottom: 20px;
  }

  .container img {
    max-height: 150px;
  }

  .contacts {
    margin: 25px auto;
  }

  .contact h2 {
    font-size: 2.75vw;
  }

  .contacts div a {
    font-size: 2.25vw;
  }

  footer {
    font-size: 1vw;
  }
}

/* media query for low resmobile phones and smaller */
@media screen and (max-width: 400px) {
  header h1 {
    font-size: 24px;
  }

  header nav ul li a {
    font-size: 18px;
  }

  .about h2 {
    font-size: 22px;
  }

  .about p {
    font-size: 16px;
  }

  .about-image img {
    max-height: 150px;
  }

  .work h2 {
    font-size: 22px;
  }

  .feature_container img {
    max-height: 125px;
  }

  .main_div div {
    margin-bottom: 22px;
  }

  .container img {
    max-height: 150px;
  }

  .contacts {
    margin: 25px auto;
  }

  .contact h2 {
    font-size: 22px;
  }

  .contacts div a {
    font-size: 14px;
  }

  footer h2,
  p {
    font-size: 6px;
  }
}
/* end responsive styling */
